body
{
	margin: 0 auto;
	max-width: 60em;
	line-height: 1.6;
	color: #444;
	padding: 0 1em
}

html
{
	font-family: 'Questrial', sans-serif;
	background-color: #ffffff;
}

h1, h2, h3
{
	line-height: 1.2
}

#hero
{
	height: 100vh;
	display: flex;
	color: #EEE;
	justify-content: center;
	position: relative;
	flex-direction: column;
	align-items: flex-start;
}

#particles-js
{
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	background-color: #2656ac;
}

#scroll
{
	height: 2em;
	cursor: pointer;
}
a
{
	color: inherit;
	text-decoration: underline;
}

.box
{
	cursor: pointer;
	height: 10em;
	position: relative;
	overflow: hidden;
	flex: 0 0 14em;
	margin-bottom: 1em;
}

.box img
{
	position: absolute;
	transition: all 300ms ease-out;
	max-width: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
	max-height: 100%;
	left: 0;
	right: 0;
}

.box .overbox
{
	background-color: #2391b6;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	z-index: 100;
	transition: all 300ms ease-out;
	opacity: 0;
	width: 100%;
	height: 100%;
}

.box:hover .overbox
{
	opacity: 0.75;
}

.container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container svg
{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

footer
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

footer ul
{
	list-style: none;
	padding: 0;
}

footer ul li
{
	display: inline;
}

footer ul li img, footer ul li svg
{
	height: 1.25em;
}

#accordion
{
	list-style: none;
	padding: 0;
}

#accordion h3
{
	text-decoration: underline;
	cursor: pointer;
}

.section
{
	overflow: hidden;
}